
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">To Do App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto" style="flex:1 1 auto;justify-content:flex-end;">
          <li class="nav-item active ">
            <a class="nav-link " href="#" routerLink="/home" *ngIf = "authservice.currentUser">Home  <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"  routerLink="/login" *ngIf = "!authservice.currentUser">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"  routerLink="/register" *ngIf = "!authservice.currentUser">Register</a>
            
          </li>
       
          <li class="nav-item dropdown"  *ngIf = "authservice.currentUser">
            <span class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         {{authservice.currentUserName}}
            </span>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" *ngIf = "authservice.currentUser"  href="#"  routerLink="/login" (click)="authservice.singout()" >Logout</a>
             
             
            </div>
          </li>
        </ul>
       

        
        
      </div>
  </nav>
  <router-outlet></router-outlet>
  